.hero-section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 50px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/Banner_Home.jpg") center/cover no-repeat;
}

.alert-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 60px;   /* aumenta aquí el tamaño REAL */
  height: 60px;

  margin-left: 8px;
  vertical-align: middle;

  transform: translateY(-4px); /* lo sube para alinear con el texto */
}

.alert-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}