h2{
  color: #ff1100;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-weight: 700;
}

h3{
  color: #1f5a9b;
}

.principle-card {
  padding: 25px;
  background: #f8f9fa;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 100%;
}

.principle-card:hover {
  background: #ffffff;
  transform: scale(1.03);
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

i{
  color: #ff0500;
}

.section-diagonal {
  background: linear-gradient(90deg, #3b5bff, #00c6ff);
  padding: 100px 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
