h2{
  font-size: 34px;
  color: #ff1100;

  font-weight: 700;
}

.impact-box {
  background: #f8f9fa;
  padding: 40px;
  border-radius: 25px;
}

.impact-item {
  padding: 15px;
  text-align: center;
}

.lead{
  text-align: center;
}

h4{
  font-weight: 600;
}

.btninfe{
  color: #ff1100;
  border-radius: 10px;
  border: 1px solid #ff1100;
}

.btninfe:hover{
  border: 1px solid #000000;
}