.banner-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* Muy importante: recorta la imagen sin deformarla */
}
