body,
html,
#root {
  margin: 0;
  height: 100%;
}

/* Navbar.css o App.css */
.navbar {
  background-color: #12182a00 !important; /* El !important es para asegurar que sobrescribe estilos previos, pero intenta evitarlo si puedes */
}

.register-background,
.login-background {
  background-image: url("/Fondo_Formularios.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.navbar-top {
  z-index: 10; /* Un valor alto para asegurar que esté encima de todo */
}

input.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}
